/* Posts */
.post-footer
  float left
  list-style none
  width 100%

.post-footer li
  display inline-block
  font-size 1.6rem

.about-text
    float left
    padding-right 2rem
    width 75%

.about-photo
  float left
  margin-top -1rem
  max-width 25%
  width 150px
  & img
    border-radius 5px
