/* Posts */

.about-text
    float left
    padding-right 2rem
    width 75%

.about-photo
  float left
  margin-top -1rem
  max-width 25%
  width 150px
  & img
    border-radius 5px

blockquote 
  background #f9f9f9
  border-left 10px solid #ccc
  margin 1.5em 10px
  padding 0.5em 10px
  font-size 15px
  font-style normal

blockquote:before 
  color #ccc
  font-size 4em
  line-height 0.1em
  margin-right 0.25em
  vertical-align -0.4em

blockquote p 
  display inline

.highlighting
  font-style italic
  text-align right

ol, ul 
  width 90%
  padding-left 10%


li 
  padding-top 0.5rem
  padding-bottom 0.5rem

.post-footer
  float left
  list-style none
  width 100%

.post-footer li
  display inline-block
  font-size 1.6rem

pre strong
  background-color #10111b

.single-featured-image-header
  height: 300px
  & img
    max-width: 600px