 /* Reset */
 
a
  color #1c9ebc

.entry-content a
.entry-summary a
.widget a
.site-footer .widget-area a
.posts-navigation a
.widget_authors a strong 
     -webkit-box-shadow none
     box-shadow none
     -webkit-transition none
     transition none
     transition none
     transition none

h2
  color #3e3e3e