// out: ../style.css, sourcemap: true, compress: false
/*
Theme Name: Twenty Seventeen Child
Theme URI:
Author: Kimberly Pennington
Author URI: http://kimberly.codes
Template: twentyseventeen
Description:
Version:
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: twentyseventeen-child

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url("../twentyseventeen/style.css");

@import 'reset'
@import 'typography'
@import 'header'
@import 'post'
@import 'footer'
@import 'media-queries/media-queries'
